@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>
        <a href="../ProductModels/Create">Add New House</a>&nbsp;&nbsp;&nbsp;<br />
        <a href="../ProductModels/Index">View all Houses</a>&nbsp;&nbsp;&nbsp;<br />
        <a href="../UserModels/Index">View all users</a>&nbsp;&nbsp;&nbsp;<br />
        <a asp-area="" asp-controller="Home" asp-action="AdminOrder">View all on Rent House</a>&nbsp;&nbsp;&nbsp;
    </h4>
</div>